
bin/govendor.exe
*.exe
pkg/windows_amd64/github.com/akavel/rsrc/binutil.a
pkg/windows_amd64/github.com/akavel/rsrc/coff.a
pkg/windows_amd64/github.com/akavel/rsrc/ico.a
pkg/windows_amd64/github.com/akavel/rsrc/internal.a
pkg/windows_amd64/github.com/akavel/rsrc/rsrc.a
pkg/windows_amd64/github.com/kardianos/govendor/cliprompt.a
pkg/windows_amd64/github.com/kardianos/govendor/context.a
pkg/windows_amd64/github.com/kardianos/govendor/help.a
pkg/windows_amd64/github.com/kardianos/govendor/internal/pathos.a
pkg/windows_amd64/github.com/kardianos/govendor/internal/vfilepath.a
pkg/windows_amd64/github.com/kardianos/govendor/internal/vos.a
pkg/windows_amd64/github.com/kardianos/govendor/migrate.a
pkg/windows_amd64/github.com/kardianos/govendor/pkgspec.a
pkg/windows_amd64/github.com/kardianos/govendor/prompt.a
pkg/windows_amd64/github.com/kardianos/govendor/run.a
pkg/windows_amd64/github.com/kardianos/govendor/vcs.a
pkg/windows_amd64/github.com/kardianos/govendor/vendor/github.com/Bowery/prompt.a
pkg/windows_amd64/github.com/kardianos/govendor/vendor/github.com/dchest/safefile.a
pkg/windows_amd64/github.com/kardianos/govendor/vendor/github.com/google/shlex.a
pkg/windows_amd64/github.com/kardianos/govendor/vendor/github.com/pkg/errors.a
pkg/windows_amd64/github.com/kardianos/govendor/vendor/golang.org/x/tools/go/vcs.a
pkg/windows_amd64/github.com/kardianos/govendor/vendor/gopkg.in/yaml.v2.a
pkg/windows_amd64/github.com/kardianos/govendor/vendorfile.a
pkg/windows_amd64/github.com/lxn/walk.a
pkg/windows_amd64/github.com/lxn/win.a
pkg/windows_amd64/gopkg.in/Knetic/govaluate.v3.a
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/gowin.iml
